html {
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

body {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
}


/* Helper
-------------------------------------- */
	
.cf:before,
.cf:after,
section.grid:before,
section.grid:after {
    content: " ";
    display: table;
}

.cf:after,
section.grid:after {
    clear: both;
}
	
section.grid article {
	width: 50%;
	height: 200px;
	float: left;
	
	overflow: hidden;
}

	section.grid article > header {
		background-color: rgba(0, 0, 0, 0.5);
		
		height: 200px;
		line-height: 200px;
		text-align: center;
		
		display: block;
		transform: translateY(200px);
		transition: 300ms ease-in-out;
	}
	
	section.grid article:hover > header {
		transform: none;
	}
	
		section.grid article > header > h2 {
			color: antiquewhite;
			font-size: 35px;
			
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}

/* DOM
-------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	color: antiquewhite;
}

hr {
	border-color: antiquewhite;
}

body > header {
	background-color: rgba(0, 0, 0, 0.5);
	
	padding: 48px;
	padding-top: 40px;
}

	body > header h1 {
		margin: 0;
		font-size: 80px;
		font-weight: 300;
		line-height: 1;
		text-align: center;
	}
	
	
main {
	margin: 0 auto;
	max-width: 768px;
	margin-top: 25px;
}

section {
	padding-top: 80px;
}

	section > h2 {
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 0;
	}

	section > h2+hr {
		margin-top: 3px;
		margin-bottom: 0;
	}
	
	section > p {
		background-color: rgba(0, 0, 0, 0.7);
		color: antiquewhite;
		margin: 0;
		padding: 20px 10px;
		padding-top: 30px;
	}